{__header}
    <section class="header header--bg  dark-blue">
      <div class="container">
        <div class="header__inner">
          <div class="header__content">
            <div class="header__copy">
              <h1>Site Map</h1>
              <p>Adventist Health <?php if($market != 'system') echo $market_name;?></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="copy copy--site-map">
      <div class="container">
        <?php
        if($market == 'system') {
          ?>
          <h2><a href="/services/">Services</a></h2>
          <?php
        }
        else {
          ?>
           <h2><a href="/{segment_1}/services/">Services</a></h2>
          <?php
        }
        ?>
       
       <ul>
          {exp:structure:nav_advanced 
           show_depth="5"
            start_from="{ah-nav:dynamic_start_from}/services"
            cache="yes" refresh="1440"

          }
           <li{if root:active} class="active"{/if}>
            <a href="{root:page_url}">{root:title}</a>
            {if root:has_children}
            <ul>
              {root:children}
              <li{if child:active} class="active"{/if}>
                <a href="{child:page_url}">{child:title}</a>
                {if child:has_children}
                <ul>
                  {child:children}
                  <li{if grandchild:active} class="active"{/if}>
                    <a href="{grandchild:page_url}">{grandchild:title}</a>
                    {if grandchild:has_children}
                    <ul>
                      {grandchild:children}
                      <li{if great_grandchild:active} class="active"{/if}>
                        <a href="{great_grandchild:page_url}">{great_grandchild:title}</a>
                      </li>
                      {/grandchild:children}
                    </ul>
                    {/if}
                  </li>
                  {/child:children}
                </ul>
                {/if}
              </li>
              {/root:children}
            </ul>
            {/if}
          </li>
          {/exp:structure:nav_advanced}
      </ul> 

         <?php
        if($market == 'system') {
          ?>
          <h2><a href="/patient-resources/">Patient Resources</a></h2>
          <?php
        }
        else {
          ?>
           <h2><a href="/{segment_1}/patient-resources/">Patient Resources</a></h2>
          <?php
        }
        ?>
       <ul>
          {exp:structure:nav_advanced 
           show_depth="5"
            start_from="{ah-nav:dynamic_start_from}/patient-resources"
            cache="yes" refresh="1440"

          }

           <li{if root:active} class="active"{/if}>
            <a href="{root:page_url}">{root:title}</a>
            {if root:has_children}
            <ul>
              {root:children}
              <li{if child:active} class="active"{/if}>
                <a href="{child:page_url}">{child:title}</a>
                {if child:has_children}
                <ul>
                  {child:children}
                  <li{if grandchild:active} class="active"{/if}>
                    <a href="{grandchild:page_url}">{grandchild:title}</a>
                    {if grandchild:has_children}
                    <ul>
                      {grandchild:children}
                      <li{if great_grandchild:active} class="active"{/if}>
                        <a href="{great_grandchild:page_url}">{great_grandchild:title}</a>
                      </li>
                      {/grandchild:children}
                    </ul>
                    {/if}
                  </li>
                  {/child:children}
                </ul>
                {/if}
              </li>
              {/root:children}
            </ul>
            {/if}
          </li>
          {/exp:structure:nav_advanced}
      </ul> 
      <?php
        if($market == 'system') {
          ?>
          <h2><a href="/about-us/">About Us</a></h2>
          <?php
        }
        else {
          ?>
           <h2><a href="/{segment_1}/about-us/">About Us</a></h2>
          <?php
        }
        ?>
       <ul>
          {exp:structure:nav_advanced 
           show_depth="5"
            start_from="{ah-nav:dynamic_start_from}/about-us"
            cache="yes" refresh="1440"

          }

         <li{if root:active} class="active"{/if}>
            <a href="{root:page_url}">{root:title}</a>
            {if root:has_children}
            <ul>
              {root:children}
              <li{if child:active} class="active"{/if}>
                <a href="{child:page_url}">{child:title}</a>
                {if child:has_children}
                <ul>
                  {child:children}
                  <li{if grandchild:active} class="active"{/if}>
                    <a href="{grandchild:page_url}">{grandchild:title}</a>
                    {if grandchild:has_children}
                    <ul>
                      {grandchild:children}
                      <li{if great_grandchild:active} class="active"{/if}>
                        <a href="{great_grandchild:page_url}">{great_grandchild:title}</a>
                      </li>
                      {/grandchild:children}
                    </ul>
                    {/if}
                  </li>
                  {/child:children}
                </ul>
                {/if}
              </li>
              {/root:children}
            </ul>
            {/if}
          </li>
          {/exp:structure:nav_advanced}
      </ul> 
      </div>
    </section>
{_footer}
