<?php
$segment_1_referer = '';
if(isset($_SERVER['HTTP_REFERER'] ) ){
  $uriSegments = explode("/", parse_url($_SERVER['HTTP_REFERER'], PHP_URL_PATH));
  $segment_1_referer = $uriSegments[1];
  if($segment_1_referer != 'news') {
    $segment_1_referer = '/'.$segment_1_referer;
  }
 
}

?>
{exp:channel:entries 
  channel="news"
  require_entry="no"
  url_title="{last_segment}"
  limit="1"
  dynamic="no"
  status="open|hidden"
}
{if no_results}
  {redirect="/blog"}
{/if}
{__header}

    <section class="header header--detail lightest-blue">
      <div class="container">
        <div class="header__inner">
          <div class="header__content">
            <div class="header__button">
              <a href="{if segment_1 != 'news'}/{segment_1}{/if}/news/" class="button button--icon button--outline"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.02 319.97"><path d="M182.62 9.38c12.51 12.51 12.49 32.76 0 45.25l-73.3 73.35h370.7c17.69 0 32 14.31 32 32s-14.31 32-32 32h-370.7l73.3 73.37c12.5 12.5 12.5 32.75 0 45.25s-32.75 12.5-45.25 0L9.38 182.6c-12.5-12.5-12.5-32.75 0-45.25l128-128c12.55-12.47 32.75-12.47 45.25.03Z"/></svg>News</a>
            </div>
            <div class="header__copy">
              <h1>{news_headline}</h1>
              <p>{news_publish_date format="%M %j, %Y"}</p>
            </div>
          </div>
          <div class="header__image">
            {if news_image != ''}
            <img src="{news_image}" alt="Image">
            {if:else}
            <img src="/files/core/logos/ah-global.svg" alt="Adventist Health Logo">
            {/if}
          </div>
        </div>
      </div>
    </section>

    <section class="copy">
      <div class="container">
        <div class="copy__inner">
          {news_copy}
        </div>
      </div>
    </section>

    <section class="tags">
      <div class="container">
        <div class="tags__inner">
          <span class="tag-label">Tags:</span>
          {categories show_group="8"}
          <a href="{if segment_2 == 'news'}/{segment_1}{/if}/news/#{category_name:url_slug}" class="tag">{category_name}</a></span></a>
          {/categories}
        </div>
      </div>
    </section>

<?php
// ------------------------------------------
//  RELATED ARTICLES
//    uses /embeds/related_articles_blog
// ------------------------------------------
?>
    <section class="cards lightest-blue">
      <div class="container">
        <div class="cards__header">
          <h3>Related articles</h3>
        </div>
        <div class="cards__inner">
          <?php $j = 0; ?>
          {categories show_group="8"}
            <?php
            if($j < 100) {
              $j++;
              ?>
              {embed="/embeds/related_articles_news" 
                category_id="{category_id}" 
                current_entry_id="{entry_id}"
                market_name="<?=$market_name ?>"
              }
              <?php
            }
            ?>            
          {/categories}
        </div>
      </div>
    </section>

{exp:channel:entries 
  channel="news"
  require_entry="no"
  url_title="{last_segment}"
  limit="1"
  dynamic="no"
}
{_footer}
{/exp:channel:entries}

