<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Demo: DeepL and JCOG</title>
    <style type="text/css">.body { width: auto; }</style>
  </head>
<body>
  {exp:jcogs_mts:translate to="ES" }
  <div id="copy">
    <p><a href="/services/">At client</a>, you’re never just a patient. You’re so much more. Our award-winning services are built to help you experience everything life has to offer. Together, our team of compassionate and talented caregivers proudly serves places  with quality and patient experience at the heart of what we do — every visit, every connection and every moment. </p>
  </div>
  {/exp:jcogs_mts:translate}
  </body>
</html>
