{exp:channel:entries
  channel="pages"
  require_entry="yes"
  disable="member_data|pagination"
}
{if no_results}
  {redirect="404"}
{/if}
{__header}


<?php
// ------------------------------------------
//  TEMPLATE TYPE: SUBPAGE
// ------------------------------------------
?>


{if pages_template_type == 'sub'}

  {if pages_header_style == 'text' || pages_header_style == ''}
  <section class="header">
  {if:elseif pages_header_style == 'background' && (pages_header_background_color == '' || pages_header_background_color == 'dark-blue') }
  <section class="header header--bg dark-blue">
  {if:elseif pages_header_style == 'background' && pages_header_background_color == 'lightest-gray'}
  <section class="header header--bg lightest-gray">
  {if:elseif pages_header_style == 'image' && (pages_header_background_color == '' || pages_header_background_color == 'dark-blue')}
  <section class="header header--image dark-blue">
  {if:elseif pages_header_style == 'image' &&  pages_header_background_color == 'lightest-gray'}
  <section class="header header--image lightest-gray">
  {if:elseif pages_header_style == 'pattern' && (pages_header_background_color == '' || pages_header_background_color == 'dark-blue')}
  <section class="header header--bg bg--pattern dark-blue">
  {if:elseif pages_header_style == 'pattern' &&  pages_header_background_color == 'lightest-gray'}
  <section class="header header--bg bg--pattern lightest-gray">
  {if:elseif pages_header_style == 'profile'}
  <section class="header header--bg lightest-gray">
  {/if}
    <div class="container">
      <div class="header__inner">
        <div class="header__content">
          <div class="breadcrumbs">
            <nav class="breadcrumbs__nav">
              <ul class="breadcrumbs__list">
                {exp:structure:breadcrumb
                  inc_here="no"
                  inc_home="no"
                  inc_separator="no"
                  wrap_each="li"
                  add_last_class="yes"
                  inc_separator="no"
                  here_as_title="no"
                  cache="yes" refresh="1440"
                }
              </ul>
            </nav>
          </div>
          <div class="header__copy">
            {if (segment_1 || segment_2 || segment_3) && ! segment_4}
            <span class="header__eyebrow"><!--Adventist Health-->{categories show_group="1"}{if category_name != 'System'}{category_name}{if:else}Adventist Health{/if}{/categories}</span>
            {if:elseif segment_4 && ! segment_5}
            <span class="header__eyebrow">{segment_3:replace find="-" replace=" "}</span>
            {if:elseif segment_4 && segment_5}
            <span class="header__eyebrow">{segment_4:replace find="-" replace=" "}</span>
            {/if}
            <!-- not profile -->
            {if pages_header_style != 'profile'}
              {if pages_header_headline != ''}
                <h1>{pages_header_headline}</h1>
                {/if}
                {if pages_header_subheadline != ''}
                <p>{pages_header_subheadline}</p>
              {/if}
            {if:else}
            <!-- profile -->
              {if pages_header_name != ''}
                <h1>{pages_header_name}</h1>
                {/if}
                {if pages_header_position != ''}
                <p>{pages_header_position}</p>
              {/if}
            {/if}
          </div>
        </div>
        {if pages_header_style == 'image'}
        <div class="header__image">
          <img src="{pages_header_image}" alt="Banner Image">
        </div>
        {/if}
      </div>
    </div>
  </section>


  <div class="page-content__wrap">

    {if segment_1 && segment_2}
      {nav}
    {/if}
    <div class="page-content__inner">
      <?php
      if($market == 'system') {
        ?>
      {if segment_1 && segment_2 && segment_3}
        {exp:structure:nav_advanced
        show_depth="1"
        start_from="/{segment_1}/{segment_2}/{segment_3}"
        cache="yes" refresh="1440"
        }
        {if root:count == 1}
        <section class="subnav">
          <nav class="subnav__nav">
            <ul class="subnav__list">
            {/if}
              <li class="subnav__item {if root:active}item--active{/if}"><a class="subnav__link" href="{root:page_url}">{root:title}</a></li>
            {if root:count == root:total_results}
            </ul>
          </nav>
        </section>
        {/if}
        {/exp:structure:nav_advanced}
      {/if}
        <?php
      }
      else {
        ?>
      {if segment_1 && segment_2 && segment_3 && segment_4}
        {exp:structure:nav_advanced
        show_depth="1"
        start_from="/{segment_1}/{segment_2}/{segment_3}/{segment_4}"
        cache="yes" refresh="1440"
        }
        {if root:count == 1}
        <section class="subnav">
          <nav class="subnav__nav">
            <ul class="subnav__list">
            {/if}
              <li class="subnav__item {if root:active}item--active{/if}"><a class="subnav__link" href="{root:page_url}">{root:title}</a></li>
            {if root:count == root:total_results}
            </ul>
          </nav>
        </section>
        {/if}
        {/exp:structure:nav_advanced}
      {/if}
        <?php
      }
      ?>
      
      {if pages_copy != ''}
        {if pages_header_style == 'profile'}
        <section class="copy copy--profile">
          <div class="container">
            <div class="copy__inner">
              <div class="copy__image">
                <img src="{pages_header_headshot}" alt="{pages_header_name} Headshot">
              </div>
              {pages_copy}
              </div>
          </div>
        </section>
        {if:else}
          <section class="copy">
            <div class="container">
              <div class="copy__inner">
                {pages_copy}
              </div>
            </div>
          </section>
         {/if}
       {/if}
<?php
// ------------------------------------------
//  CONTAINER MODULES: SUBPAGE
// ------------------------------------------
?>


    {pages_container_modules}

      {pages_container_modules:pages_html_embed}
      <section class="embed">
        <div class="container">
          <div class="embed__inner">
            {content}
          </div>
        </div>
      </section>
      {/pages_container_modules:pages_html_embed}

      {pages_container_modules:global_copy}
        {if content != ''}
        <section class="copy">
          <div class="container">
            <div class="copy__inner">
              {content}
            </div>
          </div>
        </section>
        {/if}
      {/pages_container_modules:global_copy}

      {pages_container_modules:pages_accordion}
        <section class="accordion">
          <div class="container">
            <div class="accordion__inner js-accordion">
              {content}
              <div class="accordion__block">
                <div class="accordion__title js-open">
                  <h4>{content:title}</h4>
                </div>
                <div class="accordion__content copy">
                  {content:copy}
                </div>
              </div>
              {/content}
            </div>
          </div>
        </section>
      {/pages_container_modules:pages_accordion}

      {pages_container_modules:pages_profiles_list}
        <section class="profiles">
          <div class="container">
            <div class="profiles__inner">
              {content}
              <div class="profile">
                <div class="profile__image">
                  <img src="{content:image}" alt="Headshot">
                </div>
                <div class="profile__content copy">
                  {content:copy}
                </div>
              </div>
              {/content}
            </div>
          </div>
        </section>
      {/pages_container_modules:pages_profiles_list}

      {pages_container_modules:pages_profiles_grid}
        <section class="cards">
          <div class="container">
            <div class="cards__inner">
              {content}
                {if content:url_optional != ''}
                <a class="card card--profile" href="{content:url_optional}">
                {if:elseif content:profile_link != ''}
                <a class="card card--profile" href="{content:profile_link}">
                {if:else}
                <div class="card card--profile">
                {/if}
                  <div class="card__image">
                    <img src="{content:image}" alt="{content:name} Headshot ">
                  </div>
                  <div class="card__content">
                    <h5>{content:title}</h5>
                    <p>{content:position}</p>
                    {if content:url_optional != ''}
                     <p class="text-link">{content:link_label}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.02 319.97"><path d="M329.4 310.6c-12.51-12.51-12.49-32.76 0-45.25L402.7 192H32c-17.69 0-32-14.31-32-32s14.31-32 32-32h370.7l-73.3-73.37c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l127.99 128c12.5 12.5 12.5 32.75 0 45.25l-128 128c-12.55 12.47-32.75 12.47-45.25-.03h.01Z"/></svg></p>
                    {if:elseif content:profile_link != ''}
                     <p class="text-link">{content:link_label}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.02 319.97"><path d="M329.4 310.6c-12.51-12.51-12.49-32.76 0-45.25L402.7 192H32c-17.69 0-32-14.31-32-32s14.31-32 32-32h370.7l-73.3-73.37c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l127.99 128c12.5 12.5 12.5 32.75 0 45.25l-128 128c-12.55 12.47-32.75 12.47-45.25-.03h.01Z"/></svg></p>
                    {/if}
                  </div>
                {if content:url_optional != ''}
                </a>
                {if:elseif content:profile_link != ''}
                </a>
                {if:else}
                </div>
                {/if}
              {/content}
            </div>
          </div>
        </section>
      {/pages_container_modules:pages_profiles_grid}
      
      {pages_container_modules:pages_icons}
        <section class="copy-icon">
          <div class="container">
            <div class="copy-icon__inner">
              {content}
              <div class="copy-icon__block">
                <div class="copy-icon__image image--icon">
                  <img src="{content:icon_image}" alt="Icon">
                </div>
                <div class="copy-icon__content copy">
                  {content:copy}
                </div>
              </div>
              {/content}
            </div>
          </div>
        </section>
      {/pages_container_modules:pages_icons}

      {pages_container_modules:pages_awards}
        <section class="copy-icon">
          <div class="container">
            <div class="copy-icon__inner">
              {content}
              <div class="copy-icon__block">
                <div class="copy-icon__image">
                  <img src="{content:award_image}" alt="Award">
                </div>
                <div class="copy-icon__content copy">
                  {content:copy}
                </div>
              </div>
              {/content}
            </div>
          </div>
        </section>
      {/pages_container_modules:pages_awards}
      
      {pages_container_modules:pages_copy_two_column}
      	{content}
        <section class="copy copy--two-column">
          <div class="container">
            <div class="copy__inner">
              <div class="copy__column">
                {content:copy_column_one}
              </div>
              <div class="copy__column">
                {content:copy_column_two}
              </div>
            </div>
          </div>
        </section>
        {/content}
      {/pages_container_modules:pages_copy_two_column}

    {/pages_container_modules}

    </div>
  </div>



<?php
// ------------------------------------------
//  TEMPLATE TYPE: SUBPAGE - FULL
// ------------------------------------------
?>

{if:elseif pages_template_type == 'sub_full'}
  {if pages_header_style_full == ''}
  <section class="header">
  {if:elseif pages_header_style_full == 'background' && (pages_header_background_color == '' || pages_header_background_color == 'dark-blue') }
 <section class="header header--bg dark-blue">
  {if:elseif pages_header_style_full == 'background' && pages_header_background_color == 'lightest-gray'}
  <section class="header header--bg lightest-gray">
  {if:elseif pages_header_style_full == 'image' && (pages_header_background_color == '' || pages_header_background_color == 'dark-blue')}
  <section class="header header--image dark-blue">
  {if:elseif pages_header_style_full == 'image' &&  pages_header_background_color == 'lightest-gray'}
  <section class="header header--image lightest-gray">
  {if:elseif pages_header_style_full == 'pattern' && (pages_header_background_color == '' || pages_header_background_color == 'dark-blue')}
  <section class="header header--bg bg--pattern dark-blue">
  {if:elseif pages_header_style_full == 'pattern' &&  pages_header_background_color == 'lightest-gray'}
  <section class="header header--bg bg--pattern lightest-gray">
  {/if}
    <div class="container">
      <div class="header__inner">
        <div class="header__content">
          <div class="header__copy">
            <span class="header__eyebrow"><!--Adventist Health-->{categories show_group="1"}{if category_name != 'System'}{category_name}{if:else}Adventist Health{/if}{/categories}</span>
            <h1>{pages_header_headline}</h1>
            {if pages_header_subheadline != ''}
            <p>{pages_header_subheadline}</p>
            {/if}
          </div>
        </div>
        {if pages_header_style_full == 'image'}
        <div class="header__image">
          <img src="{pages_header_image}" alt="Banner Image">
        </div>
        {/if}
      </div>
    </div>
  </section>

{/if}


<?php
// ------------------------------------------
//  PAGE MODULES
// ------------------------------------------
?>


    {pages_page_modules}

      {pages_page_modules:regional_widget}
        {embed="/embeds/regional_cards/"}           
      {/pages_page_modules:regional_widget}

      {pages_page_modules:global_copy}
        <section class="copy">
          <div class="container">
            <div class="copy__inner">
              {content}
            </div>
          </div>
        </section>
      {/pages_page_modules:global_copy}
      
      {pages_page_modules:pages_html}
        {content}
      {/pages_page_modules:pages_html}

      {pages_page_modules:pages_accordion}
        <section class="accordion">
          <div class="container">
            <div class="accordion__inner js-accordion">
              {content}
              <div class="accordion__block">
                <div class="accordion__title js-open">
                  <h4>{content:title}</h4>
                </div>
                <div class="accordion__content copy">
                  {content:copy}
                </div>
              </div>
              {/content}
            </div>
          </div>
        </section>
      {/pages_page_modules:pages_accordion}

      {pages_page_modules:pages_form}
        {content}
        <section id="form" class="form {if '{content:display_type:value}' =='container'}form--container{/if} {content:background_color:value}">
          <div class="container">
            <div class="form__inner">
              <div class="form__content copy">
               {content:copy}
              </div>
               <?php
            // ------------------------------------------
            //  FORM
            ?>
          <div class="form__block">
                  <script src="https://www.google.com/recaptcha/api.js"></script>
                  <script>
                     function onSubmit(token) { 
                        var applicationForm = document.getElementById("form_sf");    
                        if (applicationForm.checkValidity()) {                    
                          document.getElementById("form_sf").submit();  
                          let element = document.querySelector('.ah-submit');
                          element.classList.add('ah-submit--loading');   
                          var submitButton = document.getElementById("submit_form"); 
                          submitButton.disabled = true;          
                        } 
                        else {
                          applicationForm.reportValidity();
                        }                  
                     }     
                 </script>
                <?php
                $this_url = $_SERVER['SCRIPT_URI'];
                if( $_SERVER['QUERY_STRING'] != '') $this_url.= '?'.$_SERVER['QUERY_STRING'];
                  $aHidden_fields = array(
                    '<input type="hidden" name="entry_id" value="{entry_id}" />',
                    // '<input type="hidden" name="marketing" value="'.$_SESSION['lcuc'].'">',
                    '<input type="hidden" name="formUrl" value="'.$this_url.'" />',
                    '<input type="hidden" name="csrf_token" value="{csrf_token}">'
                  );
                  //  get tactic from url
                if( isset($_GET['id']) ) {
                  $tactic = $_GET['id'];
                  $tactic = filter_var($tactic, FILTER_SANITIZE_STRING);
                  $aHidden_fields[] = '<input type="hidden" name="tactic" value = "'.$tactic.'"></form>';
                }
                else $tactic = '';
                $sHidden_fields = implode("\n", $aHidden_fields);
                $states = '{state-select}';
                $aPlaceholders = array(
                  '<input type="hidden" name="tactic" value = "">' => '<input type="hidden" name="tactic" value = "'.$tactic.'">',
                  '<input type="Text" name="mailingState" id="mailingState" placeholder="State" required>' => "$states",
                  'action="[placeholder for submit action URL]"' => 'action="/scripts/salesforce-process" name="sf" id="form_sf"',
                  '<input type="Text" name="birthDate" id="birthDate" placeholder="Birthdate" required>' => '<input type="date" name="birthDate" id="birthDate" min="1920-01-01" max="2020-01-01" required>',
                  '<input type="submit" value="Submit" name="submit_form">' => '<div class="ah-submit"><input type="submit" value="Submit" name="submit_form" id="submit_form" class="g-recaptcha" data-sitekey="6LcllVwpAAAAAKsPv39ta3hJw7DghP9oO4OpEhQ8" data-callback="onSubmit" data-action="submit"></div>',
                  '</form>' => $sHidden_fields."\n".'</form>'."\n"
                  );
                ob_start();
                ?>
                {content:form_html}
                <?php
                $content = ob_get_contents();
                ob_end_clean();
                // $content = str_replace('<br/>', '', $content);
                foreach( $aPlaceholders as $k => $v ) {
                  $content = str_replace($k, $v, $content);
                }
                echo $content;
                ob_start();
                ?>
                  {content:copy}
                <?php
                $content_copy = ob_get_contents();
                ob_end_clean();
                $tagname = 'p';
                $pattern = "#<\s*?$tagname\b[^>]*>(.*?)</$tagname\b[^>]*>#s";
                preg_match($pattern, $content_copy, $matches);
                 // echo $matches[0];
                ?>
              </div>
             <?php
              //  FORM
              // ------------------------------------------
              ?>
            </div>
          </div>
        </section>
        {/content}
      {/pages_page_modules:pages_form}

      {pages_page_modules:pages_copy_image}
        {content}
        <section class="copy-image {if '{content:display_type:value}' =='full'}copy-image--full{/if} {if '{content:image_position:value}' =='right'}copy-image--reverse{/if} {content:background_color:value}">
          <div class="container">
            <div class="copy-image__inner">
              <div class="copy-image__image">
                <img src="{content:image}" alt="Provider">
              </div>
              <div class="copy-image__content copy">
                {content:copy}
              </div>
            </div>
          </div>
        </section>
        {/content}
      {/pages_page_modules:pages_copy_image}


      {pages_page_modules:pages_copy_video}
        {content}
        <section class="copy-image {if '{content:video_position:value}' =='left'}copy-image--reverse{/if} {content:background_color:value}">
          <div class="container">
            <div class="copy-image__inner">
              <div class="copy-image__content copy">
                {content:copy}
              </div>
              <div class="copy-image__video">
                <div class="video__embed">
                  <iframe src="{content:video_embed}" width="100%" height="100%" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>
        </section>
        {/content}
      {/pages_page_modules:pages_copy_video}

      {pages_page_modules:pages_cta_buttons}
        {fields}
          {pages_page_modules:cta_buttons_headline}
            <?php
            $headline = '{content}';
            ?>
          {/pages_page_modules:cta_buttons_headline}
          {pages_page_modules:cta_buttons_background_color}
            <?php
            $bgc = '{content}{item}{/content}';
            ?>
          {/pages_page_modules:cta_buttons_background_color}
        {/fields}
      {/pages_page_modules:pages_cta_buttons}

      {pages_page_modules:pages_cta_buttons}
        {fields}
          {pages_page_modules:cta_buttons_buttons}
            <?php
              if($bgc == 'lightest-gray') {
                ?>
            <section class="cta cta--buttons lightest-gray">
                <?php
              }
              else {
                ?>
            <section class="cta cta--buttons lightest-blue">
                <?php
              }
              ?>
              <div class="container">
                <div class="cta__inner">
                  <div class="cta__label">
                    <h3><?=$headline?></h3>
                  </div>
                  <div class="cta__wrap">
                    {content}
                      <a class="cta-button cta-button--link" href="{if '{content:button_url_optional}' != ''}{content:button_url_optional}{if:else}{content:button_link}{/if}">{content:button_label}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.02 319.97"><path d="M329.4 310.6c-12.51-12.51-12.49-32.76 0-45.25L402.7 192H32c-17.69 0-32-14.31-32-32s14.31-32 32-32h370.7l-73.3-73.37c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l127.99 128c12.5 12.5 12.5 32.75 0 45.25l-128 128c-12.55 12.47-32.75 12.47-45.25-.03h.01Z"/></svg></a>
                    {/content}
                  </div>
                </div>
              </div>
            </section>
          {/pages_page_modules:cta_buttons_buttons}
        {/fields}
      {/pages_page_modules:pages_cta_buttons}


<?php
// ------------------------------------------
//  PAGE MODULES: CARDS - LOCATIONS
// ------------------------------------------
?>


      {pages_page_modules:pages_cards_locations}
        {fields}
          {pages_page_modules:cards_headline}
            <?php
            $headline = '{content}';
            ?>
          {/pages_page_modules:cards_headline}
          {pages_page_modules:cards_headline_type}
            <?php
            $headline_type = '{content}{item}{/content}';
            ?>
          {/pages_page_modules:cards_headline_type}
          {pages_page_modules:cards_background_color}
            <?php
            $bgc = '{content}{item}{/content}';
            ?>
          {/pages_page_modules:cards_background_color}
        {/fields}
      {/pages_page_modules:pages_cards_locations}

      {pages_page_modules:pages_cards_locations}
        {fields}
          {if content != ''}
            <?php
              if($bgc == 'dark-blue') {
                ?>
            <section class="cards cards--grid cards--locations dark-blue">
                <?php
              }
              elseif($bgc == 'lightest-blue') {
                ?>
            <section class="cards cards--grid cards--locations lightest-blue">
                <?php
              }
              elseif($bgc == 'lightest-gray') {
                ?>
            <section class="cards cards--grid cards--locations lightest-gray">
                <?php
              }
              else {
                ?>
            <section class="cards cards--grid cards--locations white">
                <?php
              }
              ?>
              <div class="container">
                <div class="cards__header">
                  <?php
                  if($headline_type == 'h3') {
                    ?>
                    <h3><?=$headline?></h3>
                    <?php
                  }
                  else {
                    ?>
                    <h2><?=$headline?></h2>
                    <?php
                  }
                  ?>
                  <!-- <a class="text-link" href="/locations/">View all locations<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.02 319.97"><path d="M329.4 310.6c-12.51-12.51-12.49-32.76 0-45.25L402.7 192H32c-17.69 0-32-14.31-32-32s14.31-32 32-32h370.7l-73.3-73.37c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l127.99 128c12.5 12.5 12.5 32.75 0 45.25l-128 128c-12.55 12.47-32.75 12.47-45.25-.03h.01Z"/></svg></a> -->
                </div>
                <div class="cards__inner">
                {pages_page_modules:cards_locations}
                  {content}
                  <a href="/locations/detail/{content:url_title:replace find }/" class="card card--location">
                    <div class="card__image">
                      {if '{content:news_image}' != ''}
                      <img src="{content:news_image}" alt="Location Image">
                      {if:else}
                      <img src="/files/core/placeholders/blog-news.jpg" alt="Location Image">
                      {/if}
                    </div>
                    <div class="card__content">
                      <div class="card__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 381.87 509.87"><path d="M192 0C85.33 0 0 85.33 0 192c0 98.13 157.87 290.13 174.93 311.47 8.53 8.53 23.47 8.53 32 0C224 482.14 381.86 290.14 381.86 192 381.87 87.47 296.53 2.13 192 0Zm0 298.67c-59.73 0-106.67-46.93-106.67-106.67S132.26 85.33 192 85.33 298.67 132.26 298.67 192 251.74 298.67 192 298.67Z"/><path d="M213.33 170.67V128h-42.66v42.67H128v42.66h42.67V256h42.66v-42.67H256v-42.66h-42.67z"/></svg>
                      </div>
                      <span>{content:categories show_group="12"}{category_name}{/content:categories}</span>
                      <h5>{content:locations_digital_name}</h5>
                      <p>{content:locations_street}{if content:locations_suite != ''}, Suite {content:locations_suite}{/if}<br>{content:locations_city}, {content:locations_state} {content:locations_zipcode}</p>
                    </div>
                  </a>
                  {/content}
                {/pages_page_modules:cards_locations}
                </div>
              </div>
            </section>
          {/if}
        {/fields}
      {/pages_page_modules:pages_cards_locations}


<?php
// ------------------------------------------
//  PAGE MODULES: CARDS - ARTICLES
// ------------------------------------------
?>


      {pages_page_modules:pages_cards_articles}
        {fields}
          {pages_page_modules:cards_headline}
            <?php
            $headline = '{content}';
            ?>
          {/pages_page_modules:cards_headline}
          {pages_page_modules:cards_headline_type}
            <?php
            $headline_type = '{content}{item}{/content}';
            ?>
          {/pages_page_modules:cards_headline_type}
          {pages_page_modules:cards_background_color}
            <?php
            $bgc = '{content}{item}{/content}';
            ?>
          {/pages_page_modules:cards_background_color}
        {/fields}
      {/pages_page_modules:pages_cards_articles}

      {pages_page_modules:pages_cards_articles}
        {fields}
          {if content != ''}
            <?php
              if($bgc == 'dark-blue') {
                ?>
            <section class="cards cards--grid dark-blue">
                <?php
              }
              elseif($bgc == 'lightest-blue') {
                ?>
            <section class="cards cards--grid lightest-blue">
                <?php
              }
              elseif($bgc == 'lightest-gray') {
                ?>
            <section class="cards cards--grid lightest-gray">
                <?php
              }
              else {
                ?>
            <section class="cards cards--grid white">
                <?php
              }
              ?>
              <div class="container">
                <div class="cards__header">
                  <?php
                  if($headline_type == 'h3') {
                    ?>
                    <h3><?=$headline?></h3>
                    <?php
                  }
                  else {
                    ?>
                    <h2><?=$headline?></h2>
                    <?php
                  }
                  ?>
                </div>
                <div class="cards__inner">
                {pages_page_modules:cards_articles}
                  {content}
                  <a href="/{content:channel}/{content:news_year}/{content:news_month}/{content:url_title:replace find='/^-/' replace='' regex='yes'}" class="card card--article">
                    <div class="card__image">
                      {if '{content:news_image}' != ''}
                      <img src="{content:news_image}" alt="CTA Image">
                      {if:else}
                      <img src="/files/core/placeholders/blog-news.jpg" alt="CTA Image">
                      {/if}
                    </div>
                    <div class="card__content">
                      <span>Health &amp; Wellness</span>
                      <h5>{content:news_headline}</h5>
                      <p>{content:news_publish_date format="%F %d, %Y"}</p>
                    </div>
                  </a>
                  {/content}
                {/pages_page_modules:cards_articles}
                </div>
              </div>
            </section>
          {/if}
        {/fields}
      {/pages_page_modules:pages_cards_articles}


<?php
// ------------------------------------------
//  PAGE MODULES: CARDS - CTA
// ------------------------------------------
?>


      {pages_page_modules:pages_cards_cta}
        {fields}
          {pages_page_modules:cards_headline}
            <?php
            $headline = '{content}';
            ?>
          {/pages_page_modules:cards_headline}
          {pages_page_modules:cards_headline_type}
            <?php
            $headline_type = '{content}{item}{/content}';
            ?>
          {/pages_page_modules:cards_headline_type}
          {pages_page_modules:cards_background_color}
            <?php
            $bgc = '{content}{item}{/content}';
            ?>
          {/pages_page_modules:cards_background_color}
        {/fields}
      {/pages_page_modules:pages_cards_cta}

      {pages_page_modules:pages_cards_cta}
        {fields}
          {pages_page_modules:cards_cta}
            <?php
              if($bgc == 'dark-blue') {
                ?>
            <section class="cards cards--grid dark-blue">
                <?php
              }
              elseif($bgc == 'lightest-blue') {
                ?>
            <section class="cards cards--grid lightest-blue">
                <?php
              }
              elseif($bgc == 'lightest-gray') {
                ?>
            <section class="cards cards--grid lightest-gray">
                <?php
              }
              else {
                ?>
            <section class="cards white">
                <?php
              }
              ?>
              <div class="container">
                <div class="cards__header">
                  <?php
                  if($headline_type == 'h3') {
                    ?>
                    <h3><?=$headline?></h3>
                    <?php
                  }
                  else {
                    ?>
                    <h2><?=$headline?></h2>
                    <?php
                  }
                  ?>
                </div>
                <div class="cards__inner">
                {content}
                {if content:button_url_optional != ''}
                <?php
                  $button_url = '{content:button_url_optional}';
                  if (str_contains($button_url, 'http')) {
                    ?>
                    <a class="card card--cta" href="{content:button_url_optional}" target="_blank">
                    <?php
                  }
                  else {
                    ?>
                   <a class="card card--cta" href="{content:button_url_optional}">
                    <?php
                  }
                  ?>

                  
                {if:else}
                  <a class="card card--cta" href="{content:button_link_internal}">
                {/if}
                    <div class="card__image">
                      <img src="{content:image}" alt="CTA Image">
                    </div>
                    <div class="card__content">
                      <h5>{content:title}</h5>
                      <p class="text-link">{content:button_label}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.02 319.97"><path d="M329.4 310.6c-12.51-12.51-12.49-32.76 0-45.25L402.7 192H32c-17.69 0-32-14.31-32-32s14.31-32 32-32h370.7l-73.3-73.37c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l127.99 128c12.5 12.5 12.5 32.75 0 45.25l-128 128c-12.55 12.47-32.75 12.47-45.25-.03h.01Z"/></svg></p>
                    </div>
                  </a>
                {/content}
                </div>
              </div>
            </section>
          {/pages_page_modules:cards_cta}
        {/fields}
      {/pages_page_modules:pages_cards_cta}


<?php
// ------------------------------------------
//  PAGE MODULES: CARDS - PROFILES
// ------------------------------------------
?>


      {pages_page_modules:pages_cards_profiles}
        {fields}
          {pages_page_modules:cards_headline}
            <?php
            $headline = '{content}';
            ?>
          {/pages_page_modules:cards_headline}
          {pages_page_modules:cards_headline_type}
            <?php
            $headline_type = '{content}{item}{/content}';
            ?>
          {/pages_page_modules:cards_headline_type}
          {pages_page_modules:cards_background_color}
            <?php
            $bgc = '{content}{item}{/content}';
            ?>
          {/pages_page_modules:cards_background_color}
        {/fields}
      {/pages_page_modules:pages_cards_profiles}

      {pages_page_modules:pages_cards_profiles}
        {fields}
          {pages_page_modules:cards_profiles}
            <?php
              if($bgc == 'dark-blue') {
                ?>
            <section class="cards cards--grid dark-blue">
                <?php
              }
              elseif($bgc == 'lightest-blue') {
                ?>
            <section class="cards cards--grid lightest-blue">
                <?php
              }
              elseif($bgc == 'lightest-gray') {
                ?>
            <section class="cards cards--grid lightest-gray">
                <?php
              }
              else {
                ?>
            <section class="cards white">
                <?php
              }
              ?>
              <div class="container">
                <div class="cards__header">
                  <?php
                  if($headline_type == 'h3') {
                    ?>
                    <h3><?=$headline?></h3>
                    <?php
                  }
                  else {
                    ?>
                    <h2><?=$headline?></h2>
                    <?php
                  }
                  ?>
                </div>
                <div class="cards__inner">
                {content}
                  {if  content:link_url_optional != ''}
                  <?php
                  if (str_contains('{content:link_url_optional}', 'http')) {
                    ?>
                    <a class="card card--profile" href="{content:link_url_optional}" target="_blank">
                    <?php
                  }
                  else {
                    ?>
                    <a class="card card--profile" href="{content:link_url_optional}">
                    <?php
                  }
                  ?>                    
                  {if:else}
                   <a class="card card--profile" href="{content:link_internal}">
                  {/if}
                    <div class="card__image">
                      <img src="{content:image}" alt="{content:name} Headshot">
                    </div>
                    <div class="card__content">
                      <h5>{content:name}</h5>
                      <p>{content:position}</p>
                      <p class="text-link">{content:link_label}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.02 319.97"><path d="M329.4 310.6c-12.51-12.51-12.49-32.76 0-45.25L402.7 192H32c-17.69 0-32-14.31-32-32s14.31-32 32-32h370.7l-73.3-73.37c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l127.99 128c12.5 12.5 12.5 32.75 0 45.25l-128 128c-12.55 12.47-32.75 12.47-45.25-.03h.01Z"/></svg></p>
                    </div>
                  </a>
                {/content}
                </div>
              </div>
            </section>
          {/pages_page_modules:cards_profiles}
        {/fields}
      {/pages_page_modules:pages_cards_profiles}

      {pages_page_modules:pages_html_embed}
      <section class="embed">
        <div class="container">
        <div class="embed__inner">
          {content}
        </div>
        </div>
      </section>
      {/pages_page_modules:pages_html_embed}

    {/pages_page_modules}


{_footer}
{/exp:channel:entries}