{if logged_in && logged_in_primary_role_id == 6}
  {if current_path *= 'blog' 
    || current_path *= 'news'
    || current_path *= 'events'
    || current_path *= 'locations'}
  {if:else}
    {redirect='page-not-available'}
  {/if}
{/if}
{if current_path == 'blog'}
<?php
if( isset($_GET['cb']) and $_GET['cb'] == 1 ) {
  setcookie("byear", "", time()-3600);
  setcookie("bcat", "", time()-3600);
  setcookie("bcatname", "", time()-3600);
  setcookie("bsearch", "", time()-3600);
  setcookie("loadmoretrack", "", time()-3600);
  header("Location: /blog");
  exit;
}
?>
{/if}
{if current_path == 'news'}
<?php
if( isset($_GET['cn']) and $_GET['cn'] == 1 ) {
  setcookie("nyear", "", time()-3600);
  setcookie("ncat", "", time()-3600);
  setcookie("ncatname", "", time()-3600);
  setcookie("nsearch", "", time()-3600);
  setcookie("loadmoretrack", "", time()-3600);
  header("Location: /news");
  exit;
  exit;
}
?>
{/if}
{if current_path *= 'blog' 
    || current_path *= 'news'
    || current_path *= 'locations'
    || current_path *= 'events'
}
<?php
$aCheckSegments = array(  
                          'blog',
                          'news',
                          'locations', 
                          'events'
                        );
$aX = array('home');

$segment_1 = '{segment_1}';
$segment_2 = '{segment_2}';
if( in_array($segment_1, $aCheckSegments) ) {
  //  ok to proceed
}
elseif(in_array($segment_1, $aX)) {
  // $header_redirect = true;
}
else {
  if( ! in_array($segment_2, $aCheckSegments) ) {
    //  ok to proceed
  }
  //  check for valid first segment (market)
  $table = 'exp_structure';
  ee()->db->where('parent_id', 0);
  ee()->db->where('structure_url_title', $segment_1);
  $results = ee()->db->get($table);
  if ( $results->num_rows() === 0 ) {
     // header("Location: /404");exit;
    // $header_redirect = true;
  }   
  // else echo 'found';
}
?>
{/if}
<?php
if( isset($header_redirect) and $header_redirect ) {
  // header("Location: /404");
  // exit;
}
?>
