<?php
// ------------------------------------------
//  LINKS PER MARKETS
// ------------------------------------------
$market = '{segment_1}';
ee()->db->where('market', $market);
$results = ee()->db->get("exp_avenu_nav_links");
if ( $results->num_rows() == 0 ) {
  $market = 'system';
  ee()->db->where('market', $market);
  $results = ee()->db->get("exp_avenu_nav_links");
}   
foreach( $results->result() as $row) {  
  $market_zipcode = $row->zipcode;
  $market_name = $row->market_name;
  $way_to_give = $row->way_to_give;
  //addressing
  $market_add1 = $row->add1;
  $market_add2 = $row->add2;
  $market_tel = $row->tel;

  if (str_contains($way_to_give, 'http')) $way_to_give_target = 'target="_blank"';
  $careers = $row->careers;
  if (str_contains($careers, 'http')) $careers_target = 'target="_blank"';
  $bill_pay = $row->bill_pay;
  if (str_contains($bill_pay, 'http')) $bill_pay_target = 'target="_blank"';
  $patient_login = $row->patient_login;
  if (str_contains($patient_login, 'http')) $patient_login_target = 'target="_blank"';
}
if($market == 'system') {
  $market_name = 'Adventist Health';
}
?>
{if current_path *= 'search/results' && last_segment == 'results'}
{redirect='/{if segment_1} != 'search'}{segment_1}/{/if}search/'}
{/if}
