<div class="consent js-consent">
  <div class="container">
	<div class="consent__inner">
	  <p>Our website uses cookies to enhance your experience, understand site usage, measure service effectiveness, and tailor content and ads to your interests. By clicking "Accept" or continuing to browse our site, you are agreeing to our use of cookies. For details, see our <a href="/notice-of-privacy-practices/website-privacy-policy/">Website Privacy Policy</a>.</p>
	  <button class="button" id="accept">Accept</button>
	</div>
  </div>
</div>
