<?php
/**
 * Loads market channel data to exp_avenu_config
 */


// ------------------------------------------
//  Get entry ids from market channel
// ------------------------------------------
?>
{exp:channel:entries
    channel="nav"
    require_entry="no"
    dynamic="no"
    orderby="nav_market_region|title"
    sort="asc|asc"
}
<?php
    $entryIds[] = '{entry_id}';
?>
{/exp:channel:entries}
<?php


// ------------------------------------------
//  Get json w/cache check
// ------------------------------------------
$table = 'exp_avenu_config';
if (is_array($entryIds)) {
    $processedUrls = [];
    $existingUrls = ee()->db->select('market')
                            ->from($table)
                            ->get()
                            ->result_array();

    $existingUrls = array_column($existingUrls, 'market');

    foreach ($entryIds as $eid) {
        $url = "{site_url}site_json/$eid";
        $response = file_get_contents($url);
        $response = trim($response);
        if ($response !== false) {
            $jsonData = json_decode($response, true);
            $market_url = $jsonData['market_url'];
            $processedUrls[] = $market_url; // Store processed market_url

            // Check if entry exists
            $existingEntry = ee()->db->select('*')
                                     ->from($table)
                                     ->where('market', $market_url)
                                     ->get();

            // Data
            $data = array(
                'market' => $market_url,
                'data' => $response,
            );

            // Save
            if ($existingEntry->num_rows() > 0) {
                ee()->db->where('market', $market_url)
                        ->update($table, $data);
            } else {
                ee()->db->insert($table, $data);
            }
        }
    }

    // Delete entries not in the processed list
    $urlsToDelete = array_diff($existingUrls, $processedUrls);
    if (!empty($urlsToDelete)) {
        ee()->db->where_in('market', $urlsToDelete)
                ->delete($table);
    }
}



// ------------------------------------------
//  End
// ------------------------------------------
echo 'Successfully Updated';


// eof
?>
