<?php
/**
 * FORM => MULESOFT INTEGRATION
 */

// ------------------------------------------
//  GOOGLE CHECKPOINT
// ------------------------------------------
if (isset($_POST['g-recaptcha-response'])) {
    $captcha = $_POST['g-recaptcha-response'];
} 
else {
    $captcha = false;
    // error message here
    // echo 'faile on var';exit;
    header("Location: /");
    exit;
}

$secret   = '6LcllVwpAAAAAN1kp57cP_I_4GnJS_u4WernxYzB';
$action = "submit";
$ch = curl_init();
curl_setopt($ch, CURLOPT_URL,"https://www.google.com/recaptcha/api/siteverify");
curl_setopt($ch, CURLOPT_POST, 1);
curl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query(array('secret' => $secret, 'response' => $captcha)));
curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);
$response = curl_exec($ch);
curl_close($ch);
$arrResponse = json_decode($response, true);
// verify the response
if($arrResponse["success"] == '1' && $arrResponse["action"] == $action && $arrResponse["score"] >= 0.5) {

} 
else {
// spam submission// show error message
    // echo 'bad';
    header("Location: /");
    exit;
}
unset($_POST['g-recaptcha-response']);
unset($_POST['csrf_token']);
// echo 'cleared google';exit;

// ------------------------------------------
//  INITIALIZE
// ------------------------------------------
//  get token
$results = ee()->db->get( 'exp_avenu_salesforce');
if ( $results->num_rows() == 0 ) {
    echo 'not found';
    exit;
}   
//  set mulesoft variables
foreach( $results->result_array() as $row ) {    
    $access_token = $row['token'];
    $client_id = $row['client_id'];
    $client_secret = $row['client_secret'];
    $end_point = $row['end_point'];
}


// ------------------------------------------
//  SANITIZE INCOMING
// ------------------------------------------
date_default_timezone_set('America/New_York');
$table = 'exp_avenu_landing_registrations';
?>
{salesforce-functions}
<?php
//   intial 
$mobile = '';
$birthDate = '';
$mailingStreet = '';
$mailingStreet = '';
$mailingCity = '';
$mailingState = '';
$mailingPostalCode = '';
if( isset( $_POST['mobile'] ) ) {
    $mobile = filter_var($_POST['mobile'], FILTER_SANITIZE_STRING);
    $_POST['mobile'] = preg_replace('[\D]', '', $mobile);
  // format here
  $_POST['mobile'] = formatPhoneNumber($_POST['mobile']);
}
if( isset( $_POST['birthDate'] ) ) {
    $birthDate = filter_var($_POST['birthDate'], FILTER_SANITIZE_STRING);
    $_POST['birthDate'] = date('Y-m-d',strtotime($birthDate));
}

foreach( $_POST as $k => $v ) {
    $$k = filter_var($v, FILTER_SANITIZE_STRING);
}


// ------------------------------------------
//  DATA CAPTURE
// ------------------------------------------
$ipaddress = $_SERVER['REMOTE_ADDR'];
$data = array(
    'entry_id' => "$entry_id",
    'form_name' => $formName,
    'subject' => $subject,
    'marketing_optin' => $marketingOptIn,
    'campaign_id' => $campaignId,
    'record_type_id' => $recordTypeId,
    'ah_case_type__c' => $AH_Case_Type__c,
    'status' => $status,
    'tactic' => $tactic,
    'redirect_url' => $redirectURL,
    'form_url' => $formUrl,
    'first_name' => $firstName,
    'last_name' => $lastName,
    'mobile' => "$mobile",
    'email' => $email,
    'street' => $mailingStreet,
    'city' => $mailingCity,
    'state' => $mailingState,
    'zipcode' => $mailingPostalCode,
    'birthdate' => "$birthDate",
    'date_created' => date("Y-m-d H:i:s", time()),    
    'user_ip' => $ipaddress
);
ee()->db->insert($table, $data);
$uid = ee()->db->insert_id();   // table id


// ------------------------------------------
//  PREP FOR MULESOFT
// ------------------------------------------
$payload = array();
unset( $_POST['submit_form'] );
unset( $_POST['redirectURL'] );
if( isset( $_POST['mobile'] ) ) {
    $mobile = filter_var($_POST['mobile'], FILTER_SANITIZE_STRING);
    $_POST['mobile'] = preg_replace('[\D]', '', $mobile);
  // format here
  $_POST['mobile'] = formatPhoneNumber($_POST['mobile']);
}
if( isset( $_POST['birthDate'] ) ) {
    $birthDate = filter_var($_POST['birthDate'], FILTER_SANITIZE_STRING);
    $_POST['birthDate'] = date('Y-m-d',strtotime($birthDate));
}


// ------------------------------------------
//  CREATE PAYLOAD
// ------------------------------------------
foreach( $_POST as $k=>$v ) {
    $payload[$k] = $v;
}
$json = json_encode( $payload );
// echo $json;exit;


// ------------------------------------------
//  SEND TO MULESOFT
// ------------------------------------------
$headers = array(
   "client_id: $client_id",
   "client_secret: $client_secret",
   "client_name: ABC",
   "Authorization: Bearer $access_token",
   'Content-Type: application/json',
);
$curl = curl_init($end_point);
curl_setopt($curl, CURLOPT_URL, $end_point);
curl_setopt($curl, CURLOPT_POST, true);
curl_setopt($curl, CURLOPT_RETURNTRANSFER, true);
curl_setopt($curl, CURLOPT_HTTPHEADER, $headers);
curl_setopt($curl, CURLOPT_POSTFIELDS, $json);
$resp = curl_exec($curl);
curl_close($curl);
//  response array
$aCase = json_decode($resp);
// echo '<pre>';print_r($aCase);exit;

// ------------------------------------------
//  PROCESS RETURN
// ------------------------------------------
$case_record_id = $aCase->caseId;
unset( $access_token );
//	update record
$data = array(
    'case_record_id' => $case_record_id
);
ee()->db->where( 'id', $uid );
ee()->db->update( $table, $data);


// ------------------------------------------
//  REDIRECT TO thank-you || home if nonw
// ------------------------------------------
if( $redirectURL != '' ){
    ?>
    {redirect='<?=$redirectURL?>'}
    <?php
}
else {
    ?>
    {redirect='/'}
    <?php
}


//  eof


?>
