<?php
/**
 *   Generate Bearer Token
 */

// ------------------------------------------
//  INITIALIZE: GET CREDENTIALS+
// ------------------------------------------
$table = 'exp_avenu_salesforce';
$results = ee()->db->get($table);
if ( $results->num_rows() == 0 ) {
    echo 'not found';
    exit;
}   
//  set mulesoft variables
foreach( $results->result_array() as $row ) {    
    $client_id = $row['client_id'];
    $client_secret = $row['client_secret'];
    $token_end_point = $row['token_end_point'];
}


// ------------------------------------------
//  GET TOKEN
// ------------------------------------------
$curl = curl_init();
curl_setopt($curl, CURLOPT_URL,$token_end_point);
curl_setopt($curl, CURLOPT_POST, 1);
curl_setopt($curl, CURLOPT_POSTFIELDS, "grant_type=CLIENT_CREDENTIALS&client_id=$client_id&client_secret=$client_secret");
curl_setopt($curl, CURLOPT_RETURNTRANSFER, true);  
$result = curl_exec($curl);
$aResponse = json_decode($result);
if( isset( $aResponse->error) ) {
	echo $aResponse->error;exit;
}
$access_token = $aResponse->access_token;


// ------------------------------------------
//  STORE
// ------------------------------------------
$results = ee()->db->get($table);
if ( $results->num_rows() == 0 ) {
    echo 'not found';
    exit;
} 
foreach( $results->result_array() as $row ) {    
    $id = $row['id'];
}
$data = array(
    'token' => $access_token,
    'date_generated' => date("Y-m-d H:i:s", time())
);
ee()->db->where( 'id', $id );
ee()->db->update( $table, $data);


// ------------------------------------------
//  COMPLETED
// ------------------------------------------
echo 'done';


//	eof


?>