<?php
$segment_1_referer = '';
  if(isset($_SERVER['HTTP_REFERER'] ) ){
    $uriSegments = explode("/", parse_url($_SERVER['HTTP_REFERER'], PHP_URL_PATH));
    $segment_1_referer = $uriSegments[1];
    if($segment_1_referer != 'locations') {
      $segment_1_referer = '/'.$segment_1_referer;
  }
}
?>
{exp:channel:entries 
  channel="locations"
  require_entry="yes"
  dynamic="no"
  limit="1"
  url_title='{last_segment}'
    status="open|hidden"
}
{if no_results}
  {redirect="404"} 
{/if}
{__header}

    <section class="header header--detail header--location lightest-blue">
      <div class="container">
        <div class="header__inner">
          <div class="header__content">
            <div class="header__button">
              <a href="{if segment_2 == 'locations'}/{segment_1}{/if}/locations/" class="button button--icon button--outline"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.02 319.97"><path d="M182.62 9.38c12.51 12.51 12.49 32.76 0 45.25l-73.3 73.35h370.7c17.69 0 32 14.31 32 32s-14.31 32-32 32h-370.7l73.3 73.37c12.5 12.5 12.5 32.75 0 45.25s-32.75 12.5-45.25 0L9.38 182.6c-12.5-12.5-12.5-32.75 0-45.25l128-128c12.55-12.47 32.75-12.47 45.25.03Z"/></svg>Locations</a>
            </div>
            <div class="header__copy">
              <span class="header__eyebrow">{categories show_group="12" backspace="2"}{category_name}, {/categories}</span>
              <h1>{locations_digital_name}</h1>
              {if '{locations_subheadline}' != ''}<span>{locations_subheadline}</span>{/if}              
              {if locations_phone != ''}
              <p><a class="phone-link" href="tel:{locations_phone}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M23.45 20.93a3 3 0 0 0-4.25 0l-1.45 1.45a26.14 26.14 0 0 1-4.51-3.62 26.14 26.14 0 0 1-3.62-4.51l1.45-1.45a3 3 0 0 0 0-4.25L8.24 5.73a2.93 2.93 0 0 0-2.11-.88A3 3 0 0 0 4 5.73L2.64 7.08A6.37 6.37 0 0 0 1 12.33c.32 3.75 2.78 8.26 6.57 12.06s8.35 6.25 12.1 6.61a7.87 7.87 0 0 0 .84 0 6.07 6.07 0 0 0 4.41-1.64L26.27 28a3 3 0 0 0 .88-2.13 2.93 2.93 0 0 0-.88-2.11zM26.6 5.39A14.92 14.92 0 0 0 16 1a1 1 0 1 0 0 2 13 13 0 0 1 13 13.11 1 1 0 0 0 1 1 1 1 0 0 0 1-1 14.91 14.91 0 0 0-4.4-10.72z"/><path d="M20.91 11.11a6 6 0 0 1 1.77 4.31 1 1 0 0 0 1 1 1 1 0 0 0 1-1 8 8 0 0 0-8-8.1 1 1 0 1 0 0 2 6 6 0 0 1 4.23 1.79z"/></svg>{locations_phone}</a></p>
              {/if}
            </div>
          </div>
          <div class="header__image">
            <div id="map" width="100%" height="100%"></div>
          </div>
        </div>
      </div>
    </section>

    <section class="location">
      <div class="container">
        {if '{locations_copy}' != ''}
        <div class="location__info copy">
          {locations_copy}
        </div>
        {/if}
        <div class="location__inner">
          <div class="location__image">
            {if '{locations_image}' != ''}
              <img src="{locations_image}" alt="Location Image">
              {if:else}
              <img src="/files/core/placeholders/location.jpg" alt="Location Image">
            {/if}
          </div>
          <div class="location__address copy">
            <h5>Address</h5>
            <p>{locations_street}{if locations_suite !=''}, Suite {locations_suite}{/if}<br>{locations_city}, {locations_state} {locations_zipcode}</p>
            {if locations_fax != ''}<p><strong>Fax:</strong> {locations_fax}</p>{/if}
            {if locations_gmb_place_id != ''}
            <p><a class="button" href="https://www.google.com/maps/search/?api=1&query=Google&query_place_id={locations_gmb_place_id}" target="_blank">Get directions</a>
            {/if}
            {if locations_button_label != ''}
            <a class="button" href="{locations_button_url}" target="_blank">{locations_button_label}</a>
            {/if}
            </p>
          </div>          
          <div class="location__hours copy">
            {if locations_monday_hours != ''}
            <h5>Hours</h5>
              <p><strong>Sunday</strong><span>{if locations_sunday_hours == '00:00-00:00'}Open 24 Hours{if:else}{locations_sunday_hours}{/if}</span></p>
              <p><strong>Monday</strong><span>{if locations_monday_hours == '00:00-00:00'}Open 24 Hours{if:else}{locations_monday_hours}{/if}</span></p>
              <p><strong>Tuesday</strong><span>{if locations_tuesday_hours == '00:00-00:00'}Open 24 Hours{if:else}{locations_tuesday_hours}{/if}</span></p>
              <p><strong>Wednesday</strong><span>{if locations_wednesday_hours == '00:00-00:00'}Open 24 Hours{if:else}{locations_wednesday_hours}{/if}</span></p>
              <p><strong>Thursday</strong><span>{if locations_thursday_hours == '00:00-00:00'}Open 24 Hours{if:else}{locations_thursday_hours}{/if}</span></p>
              <p><strong>Friday</strong><span>{if locations_friday_hours == '00:00-00:00'}Open 24 Hours{if:else}{locations_friday_hours}{/if}</span></p>
              <p><strong>Saturday</strong><span>{if locations_saturday_hours == '00:00-00:00'}Open 24 Hours{if:else}{locations_saturday_hours}{/if}</span></p>
             {/if}
          </div>         
        </div>
      </div>
    </section>

    <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({key: "AIzaSyAl6OIUE3Xkj50645nUe8ffp9liTqrK_Gc", v: "quarterly"});</script>

    <script>
      let map;
      async function initMap() {
        const position = { lat: {locations_latitude}, lng: -{locations_longitude} };
        const { Map } = await google.maps.importLibrary("maps");
        const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");
        map = new Map(document.getElementById("map"), {
          zoom: 12,
          center: position,
          mapTypeControl: false,
          streetViewControl: false,
          clickableIcons: false,
          mapId: "AH_MAP_ID"
        });
        const marker = new AdvancedMarkerElement({
          map: map,
          position: position,
          title: "{locations_digital_name}"
        });
      }
      initMap();
    </script>


    {locations_page_modules}
    
    
    <?php
// ------------------------------------------
//  CTA
// ------------------------------------------
?>


  {locations_page_modules:pages_cta}
    {content}
    <section class="cta cta--center lightest-blue">
      <div class="container">
        <div class="cta__inner">
          <div class="cta__content copy">
            <h2>{content:headline}</h2>
            <p>{content:copy}</p>
            {if content:button_url_optional != ''}
            <?php
            $button_url = '{home_banner_buttons:button_url_optional}';
            if (str_contains($button_url, 'http')) {
              ?>
              <a href="{content:button_url_optional}" target="_blank" class="button">{content:button_label}</a>{home_banner_buttons:button_label}</a>
              <?php
            }
            else {
              ?>
             <a href="{content:button_url_optional}" class="button">{content:button_label}</a>{home_banner_buttons:button_label}</a>
              <?php
            }
            ?>
            
            {if:elseif '{content:button_label}' != ''}
            <a href="{content:button_link}" class="button">{content:button_label}</a>
            {/if}
          </div>
        </div>
      </div>
    </section>
    {/content}
  {/locations_page_modules:pages_cta}


<?php
// ------------------------------------------
//  PAGE MODULES: CARDS - LOCATIONS
// ------------------------------------------
?>

      {locations_page_modules:pages_cards_locations}
        {fields}
          {locations_page_modules:cards_headline}
            <?php
            $headline = '{content}';
            ?>
          {/locations_page_modules:cards_headline}
          {locations_page_modules:cards_headline_type}
            <?php
            $headline_type = '{content}{item}{/content}';
            ?>
          {/locations_page_modules:cards_headline_type}
          {locations_page_modules:cards_background_color}
            <?php
            $bgc = '{content}{item}{/content}';
            ?>
          {/locations_page_modules:cards_background_color}
        {/fields}
      {/locations_page_modules:pages_cards_locations}

      {locations_page_modules:pages_cards_locations}
        {fields}
          {if content != ''}
            <?php
              if($bgc == 'dark-blue') {
                ?>
            <section class="cards cards--grid cards--locations dark-blue">
                <?php
              }
              elseif($bgc == 'lightest-blue') {
                ?>
            <section class="cards cards--grid cards--locations lightest-blue">
                <?php
              }
              elseif($bgc == 'lightest-gray') {
                ?>
            <section class="cards cards--grid cards--locations lightest-gray">
                <?php
              }
              else {
                ?>
            <section class="cards cards--grid cards--locations white">
                <?php
              }
              ?>
              <div class="container">
                <div class="cards__header">
                  <?php
                  if($headline_type == 'h3') {
                    ?>
                    <h3><?=$headline?></h3>
                    <?php
                  }
                  else {
                    ?>
                    <h2><?=$headline?></h2>
                    <?php
                  }
                  ?>
                </div>
                <div class="cards__inner">
                {locations_page_modules:cards_locations}
                  {content}
                  <a href="/locations/detail/{content:url_title:replace find }/" class="card card--location">
                    <div class="card__image">
                      {if '{content:news_image}' != ''}
                      <img src="{content:news_image}" alt="Location Image">
                      {if:else}
                      <img src="/files/core/placeholders/blog-news.jpg" alt="Location Image">
                      {/if}
                    </div>
                    <div class="card__content">
                      <div class="card__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 381.87 509.87"><path d="M192 0C85.33 0 0 85.33 0 192c0 98.13 157.87 290.13 174.93 311.47 8.53 8.53 23.47 8.53 32 0C224 482.14 381.86 290.14 381.86 192 381.87 87.47 296.53 2.13 192 0Zm0 298.67c-59.73 0-106.67-46.93-106.67-106.67S132.26 85.33 192 85.33 298.67 132.26 298.67 192 251.74 298.67 192 298.67Z"/><path d="M213.33 170.67V128h-42.66v42.67H128v42.66h42.67V256h42.66v-42.67H256v-42.66h-42.67z"/></svg>
                      </div>
                      <span>{content:categories show_group="12"}{category_name}{/content:categories}</span>
                      <h5>{content:locations_digital_name}</h5>
                      <p>{content:locations_street}{if content:locations_suite != ''}, Suite {content:locations_suite}{/if}<br>{content:locations_city}, {content:locations_state} {content:locations_zipcode}</p>
                    </div>
                  </a>
                  {/content}
                {/locations_page_modules:cards_locations}
                </div>
              </div>
            </section>
          {/if}
        {/fields}
      {/locations_page_modules:pages_cards_locations}


<?php
// ------------------------------------------
//  PAGE MODULES: CARDS - CTA
// ------------------------------------------
?>


      {locations_page_modules:pages_cards_cta}
        {fields}
          {locations_page_modules:cards_headline}
            <?php
            $headline = '{content}';
            ?>
          {/locations_page_modules:cards_headline}
          {locations_page_modules:cards_headline_type}
            <?php
            $headline_type = '{content}{item}{/content}';
            ?>
          {/locations_page_modules:cards_headline_type}
          {locations_page_modules:cards_background_color}
            <?php
            $bgc = '{content}{item}{/content}';
            ?>
          {/locations_page_modules:cards_background_color}
        {/fields}
      {/locations_page_modules:pages_cards_cta}

      {locations_page_modules:pages_cards_cta}
        {fields}
          {locations_page_modules:cards_cta}
            <?php
              if($bgc == 'dark-blue') {
                ?>
            <section class="cards cards--grid dark-blue">
                <?php
              }
              elseif($bgc == 'lightest-blue') {
                ?>
            <section class="cards cards--grid lightest-blue">
                <?php
              }
              elseif($bgc == 'lightest-gray') {
                ?>
            <section class="cards cards--grid lightest-gray">
                <?php
              }
              else {
                ?>
            <section class="cards white">
                <?php
              }
              ?>
              <div class="container">
                <div class="cards__header">
                  <?php
                  if($headline_type == 'h3') {
                    ?>
                    <h3><?=$headline?></h3>
                    <?php
                  }
                  else {
                    ?>
                    <h2><?=$headline?></h2>
                    <?php
                  }
                  ?>
                </div>
                <div class="cards__inner">
                {content}
                {if content:button_url_optional != ''}
                <?php
                  $button_url = '{content:button_url_optional}';
                  if (str_contains($button_url, 'http:')) {
                    ?>
                    <a class="card card--cta" href="{content:button_url_optional}" target="_blank">
                    <?php
                  }
                  else {
                    ?>
                   <a class="card card--cta" href="{content:button_url_optional}">
                    <?php
                  }
                  ?>
                {if:else}
                  <a class="card card--cta" href="{content:button_link_internal}">
                {/if}
                    <div class="card__image">
                      <img src="{content:image}" alt="CTA Image">
                    </div>
                    <div class="card__content">
                      <h5>{content:title}</h5>
                      <p class="text-link">{content:button_label}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.02 319.97"><path d="M329.4 310.6c-12.51-12.51-12.49-32.76 0-45.25L402.7 192H32c-17.69 0-32-14.31-32-32s14.31-32 32-32h370.7l-73.3-73.37c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l127.99 128c12.5 12.5 12.5 32.75 0 45.25l-128 128c-12.55 12.47-32.75 12.47-45.25-.03h.01Z"/></svg></p>
                    </div>
                  </a>
                {/content}
                </div>
              </div>
            </section>
          {/locations_page_modules:cards_cta}
        {/fields}
      {/locations_page_modules:pages_cards_cta}


<?php
// ------------------------------------------
//  PAGE MODULES: CARDS - PROFILES
// ------------------------------------------
?>


      {locations_page_modules:pages_cards_profiles}
        {fields}
          {locations_page_modules:cards_headline}
            <?php
            $headline = '{content}';
            ?>
          {/locations_page_modules:cards_headline}
          {locations_page_modules:cards_headline_type}
            <?php
            $headline_type = '{content}{item}{/content}';
            ?>
          {/locations_page_modules:cards_headline_type}
          {locations_page_modules:cards_background_color}
            <?php
            $bgc = '{content}{item}{/content}';
            ?>
          {/locations_page_modules:cards_background_color}
        {/fields}
      {/locations_page_modules:pages_cards_profiles}

      {locations_page_modules:pages_cards_profiles}
        {fields}
          {locations_page_modules:cards_profiles}
            <?php
              if($bgc == 'dark-blue') {
                ?>
            <section class="cards cards--grid dark-blue">
                <?php
              }
              elseif($bgc == 'lightest-blue') {
                ?>
            <section class="cards cards--grid lightest-blue">
                <?php
              }
              elseif($bgc == 'lightest-gray') {
                ?>
            <section class="cards cards--grid lightest-gray">
                <?php
              }
              else {
                ?>
            <section class="cards white">
                <?php
              }
              ?>
              <div class="container">
                <div class="cards__header">
                  <?php
                  if($headline_type == 'h3') {
                    ?>
                    <h3><?=$headline?></h3>
                    <?php
                  }
                  else {
                    ?>
                    <h2><?=$headline?></h2>
                    <?php
                  }
                  ?>
                </div>
                <div class="cards__inner">
                {content}
                  {if  content:link_url_optonal != ''}
                    <a class="card card--profile" href="{content:link_url_optonal}">
                  {if:else}
                   <a class="card card--profile" href="{content:link_internal}">
                  {/if}
                    <div class="card__image">
                      <img src="{content:image}" alt="{content:name} Headshot">
                    </div>
                    <div class="card__content">
                      <h5>{content:name}</h5>
                      <p>{content:position}</p>
                      <p class="text-link">{content:link_label}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.02 319.97"><path d="M329.4 310.6c-12.51-12.51-12.49-32.76 0-45.25L402.7 192H32c-17.69 0-32-14.31-32-32s14.31-32 32-32h370.7l-73.3-73.37c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l127.99 128c12.5 12.5 12.5 32.75 0 45.25l-128 128c-12.55 12.47-32.75 12.47-45.25-.03h.01Z"/></svg></p>
                    </div>
                  </a>
                {/content}
                </div>
              </div>
            </section>
          {/locations_page_modules:cards_profiles}
        {/fields}
      {/locations_page_modules:pages_cards_profiles}

    {/locations_page_modules}
  
  
  {_footer}
  {locations_clockwise_widget}
  {/exp:channel:entries}
  