




/*------------------------------------*\
  #OHSU-COLORS
\*------------------------------------*/


:root {
  --lighter-blue: #D1E1F0;
  --light-blue: #5d97c9;
  --light-blue-hover: #4789C2;
  --dark-blue: #19344D;

  --orange: #FFC31F;

  --portland-blue: #5d97c9;
  --portland-yellow: #FFC31F;
  --portland-green: #64a70b;
  --portland-gray: #545859;
}





/*------------------------------------*\
  #OHSU-STYLES
\*------------------------------------*/


.page--ohsu .page-head__logo {
  width: 300px;
}
.page--ohsu .page-head__logo img {
  max-height: 100%;
}


@media only screen and (max-width: 1200px) {
  .page--ohsu .page-head__logo {
    width: 260px;
  }
}

@media only screen and (max-width: 1100px) {
  .page--ohsu .page-head__logo {
    width: 240px;
  }
}

@media only screen and (max-width: 1000px) {
  .page--ohsu .page-head__logo {
    width: 220px;
  }
}

@media only screen and (max-width: 800px) {
  .page--ohsu .page-head__logo {
    width: 200px;
  }
}

@media only screen and (max-width: 600px) {
  .page--ohsu .page-head__logo {
    width: 160px;
  }
}





.page h1 {
  color: var(--dark-blue);
}
.page h2,
.page h3,
.page h4,
.page h5 {
  color: var(--portland-blue);
}
.page h6 {
  color: var(--dark-blue);
}

.page--ohsu .cta__label h3 {
  color: var(--dark-blue);
}

.page--ohsu .page-foot__inner h6 {
  color: #fff;
}

.page--ohsu .bg--pattern .container::before,
.page--ohsu .bg--pattern .container::after,
.page--ohsu .bg--pattern .header__inner::before,
.page--ohsu .bg--pattern .header__inner::after {
  display: none;
}

.page--ohsu .cards__header {
  border-bottom: 1px solid var(--lighter-blue);
}
.page--ohsu .cards__header h3 {
  color: var(--dark-blue);
}

.page--ohsu .sidenav__list .item--sub .sidenav__link::after {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 491.1 298.3" fill="%235d97c9"><path d="M208.25 282.85 15.45 90.05c-20.6-20.6-20.6-54 0-74.6s54-20.6 74.6 0l155.5 155.5 155.5-155.5c20.6-20.6 54-20.6 74.6 0 20.6 20.6 20.6 54 0 74.6l-192.8 192.8c-20.6 20.6-54 20.6-74.6 0Z"/></svg>');
}
.page--ohsu .control__select::after {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 491.1 298.3" fill="%235d97c9"><path d="M208.25 282.85 15.45 90.05c-20.6-20.6-20.6-54 0-74.6s54-20.6 74.6 0l155.5 155.5 155.5-155.5c20.6-20.6 54-20.6 74.6 0 20.6 20.6 20.6 54 0 74.6l-192.8 192.8c-20.6 20.6-54 20.6-74.6 0Z"/></svg>');
}


@media only screen and (max-width: 1000px) {
  .page--ohsu .page-foot__logo {
    width: 220px;
  }
  .page--ohsu .sidenav__sub-link::after {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 491.1 298.3" fill="%235d97c9"><path d="M208.25 282.85 15.45 90.05c-20.6-20.6-20.6-54 0-74.6s54-20.6 74.6 0l155.5 155.5 155.5-155.5c20.6-20.6 54-20.6 74.6 0 20.6 20.6 20.6 54 0 74.6l-192.8 192.8c-20.6 20.6-54 20.6-74.6 0Z"/></svg>');
  }
}




