




@import url("https://fast.fonts.net/t/1.css?apiType=css&projectid=9c9ed222-8434-40eb-a118-9fdd8b876317");
@font-face {
  font-family:"Foundry Sterling W01";
  src:url("/site/fonts/63f537a7-b187-45bf-a51d-d8b5404db4f5.woff2") format("woff2"),url("/site/fonts/a48c29e8-8de1-4e90-82a1-5e025a284ae5.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family:"Foundry Sterling W01";
  src:url("/site/fonts/ddd70fca-9ea3-4a83-b6b1-127c7bd05a51.woff2") format("woff2"),url("/site/fonts/1c874867-515c-4fdd-9fae-7c37237fba27.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family:"Foundry Sterling W01";
  src:url("/site/fonts/61a7e935-0abf-4866-8091-34c8aec18f22.woff2") format("woff2"),url("/site/fonts/13371dca-3ac8-4bab-b52d-4e1d2efa82f9.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family:"Foundry Sterling W01";
  src:url("/site/fonts/9c648acb-9d6f-40e8-a99a-70870397db1b.woff2") format("woff2"),url("/site/fonts/6bfb67a6-ef4e-4695-bc49-ca3a1a18b123.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family:"Foundry Sterling W01";
  src:url("/site/fonts/953e5222-1fc2-46ee-8323-b0284b544a94.woff2") format("woff2"),url("/site/fonts/811fbecc-62c1-4b3d-8542-db71a661e012.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/*
:root {
  --lightest-gray: #f7f7f7;
  --light-gray: #dbdbdb;
  --gray: #4f4f4f;
  --black: #252525;

  --lightest-blue: #ebf6ff;
  --lighter-blue: #ccfeff;
  --light-blue: #00a0dd;
  --light-blue-hover: #0082ce;
  --dark-blue: #003764;

  --lightest-green: #f1faee;
  --light-green: #6cc04a;
  --dark-green: #026937;

  --lightest-orange: #fff1e6;
  --orange: #e24301;

  --lightest-teal: #d8f2f3;
  --teal: #008b9a;

  --lightest-purple: #fcf2ff;
  --purple: #928df3;
}
*/

h1, h2, h3, h4, h5, h6, p, li, ol, b, strong {
  font-family: 'Foundry Sterling W01', Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
  color: #003764;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 2rem;
}
h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  margin: 2.5rem 0 1rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4;
}
h4 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4;
}
h5, h6 {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.4;
}
h6 {
  letter-spacing: 0;
  text-transform: none;
  color: #00a0dd;
}

h3, h4, h5, h6 {
  margin: 2rem 0 1rem;
}
h2:first-of-type,
h3:first-of-type,
h4:first-of-type,
h5:first-of-type,
h6:first-of-type,
figure:first-of-type {
  margin-top: 0;
}

p {
  margin-bottom: 1rem;
}
p, li {
  font-size: 1.15rem;
  font-weight: 400;
  line-height: 1.7;
  color: #252525;
}
p a, li a {
  font-weight: 600;
  color: #00a0dd;
  text-decoration: underline;
}

em {
  display: inline;
  font-size: 1.15rem;
  font-weight: inherit;
  line-height: 1.7;
}

b, strong {
  font-weight: 600;
}

ol, ul {
  list-style: none;
  padding-inline: 0;
  margin: 0 0 1rem;
}

li {
  position: relative;
  padding-left: 1.5rem;
  margin: 0.2rem 0;
}
li::before {
  position: absolute;
  content: '\2022';
  top: 0;
  left: 0;
  font-size: 1.15rem;
  font-weight: 700;
  line-height: 1.7;
  color: #003764;
}
li ul li::before {
  content: '\26AC';
  font-size: 1.05rem;
}

ol {
  counter-reset: numbers;
}
ol li {
  padding-left: 2rem;
}
ol li::before {
  display: inline-block;
  content: counter(numbers, decimal) '.';
  counter-increment: numbers;
  width: 1.5rem;
  left: -0.5rem;
  font-weight: 600;
  letter-spacing: -0.05rem;
  text-align: right;
}

.two-column {
  column-count: 2;
}
.three-column {
  column-count: 3;
}
.two-column li,
.three-column li {
  display: inline-block;
  width: 100%;
}

.disclaimer {
  font-size: 0.95rem;
  font-style: italic;
  line-height: 1.5;
}

figure {
  width: 100%;
  margin: 2rem 0;
}
figure img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.float-left {
  float: left;
  max-width: 400px;
  margin: 1rem 2rem 1rem 0;
}
.float-right {
  float: right;
  max-width: 400px;
  margin: 1rem 0 1rem 2rem;
}
.align-center {
  background: #f7f7f7;
  border-radius: 8px;
}
.align-center img {
  width: 60%;
  border-radius: 0;
  margin: 0 auto;
}
.small {
  max-width: 200px;
}
.medium {
  max-width: 400px;
}
.large {
  max-width: 600px;
}

.button {
  font-size: 1.05rem;
  font-weight: 500;
  line-height: 1.2;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 0.6rem 1.8rem 0.7rem;
  background: #00a0dd;
  border: 1px solid #00a0dd;
  border-radius: 50px;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.callout {
  font-weight: 500;
  color: #003764;
  padding: 1.5rem 2rem;
  border-radius: 8px;
  margin: 3rem 0;
}
.callout--light-green {
  background: #f1faee;
  border-left: 10px solid #6cc04a;
}
.callout--light-blue {
  background: #ebf6ff;
  border-left: 10px solid #00a0dd;
}
.callout--orange {
  background: #fff1e6;
  border-left: 10px solid #e24301;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  border: 1px solid #dbdbdb;
  border-radius: 9px;
  margin: 2rem 0;
}
table thead {
  background: #f7f7f7;
}
table th,
table td {
  font-size: 1rem;
  line-height: 1.2;
  color: #4f4f4f;
  text-align: left;
  padding: 0.8rem 1rem;
  border-color: #dbdbdb;
}
table th {
  font-weight: 600;
}
table th:first-child {
  border-radius: 8px 0 0 0;
}
table th:last-child {
  border-radius: 0 8px 0 0;
}
table tr:last-child td:first-child {
  border-radius: 0 0 0 8px;
}
table tr:last-child td:last-child {
  border-radius: 0 0 8px 0;
}




