{exp:channel:entries
    channel="nav"
    require_entry="no"
    dynamic="no"
    search:nav_market_active="1"
    orderby="nav_market_region"
    sort="asc"
}
{if no_results}
    <!-- Handle no results -->
{/if}
<?php
if (!isset($pre_region)) {
    $pre_region = '';
}

$nav_market_region = '{nav_market_region:label}';
if ($pre_region !== $nav_market_region) {
    if ($pre_region !== '') {
?>
        </div>
    </div>
</section>
<?php
    }
    $pre_region = $nav_market_region;
?>
<section class="cards cards--grid">
    <div class="container">
        <div class="cards__header">
            <h2><?=$nav_market_region?></h2>
        </div>
        <div class="cards__inner">
<?php
}
?>
			<a href="{nav_market_link}" class="card card--market">
				<div class="card__image">
					<img src="{nav_market_image}" alt="Adventist Health Castle">
				</div>
				<div class="card__content">
					<h5>Adventist Health {title}</h5>
					<p>{nav_address_1}<br>{nav_city}, {nav_state} {nav_zip_code}<br>{nav_phone}</p>
					<p class="text-link">View website<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.02 319.97"><path d="M329.4 310.6c-12.51-12.51-12.49-32.76 0-45.25L402.7 192H32c-17.69 0-32-14.31-32-32s14.31-32 32-32h370.7l-73.3-73.37c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l127.99 128c12.5 12.5 12.5 32.75 0 45.25l-128 128c-12.55 12.47-32.75 12.47-45.25-.03h.01Z"/></svg></p>
				</div>
			</a>
<?php
if ('{count}' == '{total_results}') {
?>
        </div>
    </div>
</section>
<?php
}
?>
{/exp:channel:entries}
