{__header}
    <section class="header header--bg bg--pattern dark-blue">
      <div class="container">
        <div class="header__inner">
          <div class="header__content">
            <div class="header__copy">
              <h1>Search</h1>
              <p>Because you deserve fast results</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="search search--website lightest-blue">
      <div class="container">
        {exp:pro_search:form required="keywords" result_page="/{segment_1}/search/results/"}         
          <div class="search__inner">
            <div class="control control--search">
              <label class="control__label">Search</label>
              <div class="control__search">
              	<input class="search__input" type="search" name="keywords" value="" placeholder="Type here...">
              	<input class="button" type="submit" value="Search">
              </div>
            </div>
          </div>
        {/exp:pro_search:form}
      </div>
    </section>
{_footer}
