{__header}

    <section class="header header--bg bg--pattern dark-blue">
      <div class="container">
        <div class="header__inner">
          <div class="header__content">
            <div class="header__copy">
              <span class="header__eyebrow">Adventist Health</span>
              <h1>404: Page Not Found</h1>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="copy">
      <div class="container">
        <div class="copy__inner">
          <h3>The page you are trying to access is currently unavailable. It might have been moved, or there could be an issue with the URL. Please choose one of the options below to be redirected to the Adventist Health website.</h3>
        </div>
      </div>
    </section>

    <section class="cards">
      <div class="container">
        <div class="cards__header">
          <h2>Helpful tools and resources</h2>
        </div>
        <div class="cards__inner">
          <a href="https://adventisthealth.org/" class="card card--cta">
            <div class="card__image">
              <img src="/images/locations/adventist-health-corporate.jpg" alt="CTA Image">
            </div>
            <div class="card__content">
              <h5>Adventist Health website</h5>
              <p class="text-link">Back to home<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.02 319.97"><path d="M329.4 310.6c-12.51-12.51-12.49-32.76 0-45.25L402.7 192H32c-17.69 0-32-14.31-32-32s14.31-32 32-32h370.7l-73.3-73.37c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l127.99 128c12.5 12.5 12.5 32.75 0 45.25l-128 128c-12.55 12.47-32.75 12.47-45.25-.03h.01Z"/></svg></p>
            </div>
          </a>
          <a href="https://adventisthealth.org/doctors/" class="card card--cta">
            <div class="card__image">
              <img src="/images/listing/nurse-patient-hug.jpg" alt="CTA Image">
            </div>
            <div class="card__content">
              <h5>Find care</h5>
              <p class="text-link">Find a doctor<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.02 319.97"><path d="M329.4 310.6c-12.51-12.51-12.49-32.76 0-45.25L402.7 192H32c-17.69 0-32-14.31-32-32s14.31-32 32-32h370.7l-73.3-73.37c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l127.99 128c12.5 12.5 12.5 32.75 0 45.25l-128 128c-12.55 12.47-32.75 12.47-45.25-.03h.01Z"/></svg></p>
            </div>
          </a>
          <a href="https://adventisthealth.org/locations/" class="card card--cta">
            <div class="card__image">
              <img src="/images/locations/adventist-health-white-memorial.jpg" alt="CTA Image">
            </div>
            <div class="card__content">
              <h5>Find a location</h5>
              <p class="text-link">View locations<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.02 319.97"><path d="M329.4 310.6c-12.51-12.51-12.49-32.76 0-45.25L402.7 192H32c-17.69 0-32-14.31-32-32s14.31-32 32-32h370.7l-73.3-73.37c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l127.99 128c12.5 12.5 12.5 32.75 0 45.25l-128 128c-12.55 12.47-32.75 12.47-45.25-.03h.01Z"/></svg></p>
            </div>
          </a>
        </div>
      </div>
    </section>

{_footer}
