

<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>Adventist Health - Investor Relations</title>
  <meta name="description" content="Investor Relations. Adventist Health is a leading health resource for patients throughout the West Coast and Hawaii." />
  
  <meta property="og:title" content="Adventist Health - Investor Relations" />
  
  <meta property="og:description" content="Investor Relations. Adventist Health is a leading health resource for patients throughout the West Coast and Hawaii." />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://staging.ahdev.org/about-us/investor-relations/" />
  
  <meta property="og:image" content="https://staging.ahdev.org/files/core/common/adventist-health-default.jpg" />
  
  
  <meta property="twitter:title" content="Adventist Health - Investor Relations" />
  
  <meta property="twitter:card" content="summary" />
  <meta property="twitter:description" content="Investor Relations. Adventist Health is a leading health resource for patients throughout the West Coast and Hawaii." />
  
  <meta property="twitter:image" content="https://staging.ahdev.org/files/core/common/adventist-health-default.jpg" />
  
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  
   <!-- Google Tag Manager -->
 <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
 new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
 j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
 })(window,document,'script','dataLayer','GTM-WPFCRD7R');</script>
 <!-- End Google Tag Manager -->
  
  <script type="text/javascript" src="https://fast.fonts.net/jsapi/9c9ed222-8434-40eb-a118-9fdd8b876317.js"></script>
  <link rel="stylesheet" type="text/css" href="https://staging.ahdev.org/stylesheets/base?v=1.2.8">
  
  <link rel="stylesheet" type="text/css" href="https://staging.ahdev.org/stylesheets/components?v=2.1.8">
  <meta name="robots" content="index, follow" />
  
  
  
  
</head>
<body class="page ">




<div class="dropdown__nav">
                        <div class="dropdown-nav__header">
                          <a class="dropdown-link" href="{ah-nav:dynamic_start_from}/services/">Services</a>
                          <a class="text-link" href="{ah-nav:dynamic_start_from}/services/">View services<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.02 319.97"><path d="M329.4 310.6c-12.51-12.51-12.49-32.76 0-45.25L402.7 192H32c-17.69 0-32-14.31-32-32s14.31-32 32-32h370.7l-73.3-73.37c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l127.99 128c12.5 12.5 12.5 32.75 0 45.25l-128 128c-12.55 12.47-32.75 12.47-45.25-.03h.01Z"/></svg></a>
                        </div>
                        <ul class="dropdown-nav__list js-list">
                          {exp:structure:nav_advanced 
                           show_depth="1"
                            start_from="{ah-nav:dynamic_start_from}/services"
                            cache="yes" refresh="1440"
                            named_nav="Top"
                          }

   
                          <!-- <li class="dropdown-nav__item"><a class="dropdown-nav__link" href="https://www.adventisthealthstory.org/" target="_new" rel="noopener noreferrer">{root:title}</a></li> -->

                          <li class="dropdown-nav__item"><a class="dropdown-nav__link" href="{root:page_url}">{root:title}</a></li>

                          {/exp:structure:nav_advanced}
                        </ul>
                      </div>




    


 </main>






</body>
</html>