<?php
/**
 * MICROSITE - BASIC CONTACT FORM
 */
$table = 'exp_avenu_micro_contacts';
if( isset($_POST) ) {
	foreach($_POST as $k => $v) {
		$$k = htmlspecialchars($v);
	}
	$ipaddress = $_SERVER['REMOTE_ADDR'];
	$data = array(
	    'first_name' => "$first_name",
	    'last_name' => "$last_name",
	    'email' => "$email",
	    'phone' => "$phone",
	    'contact_time' => "$contact_time",
	    'contact_method' => "$contact_method",
	    'how_can_we_help' => "$how_can_we_help",
	    'date_entered' => date("Y-m-d H:i:s", time()),    
	    'user_ip' => $ipaddress
	);
	ee()->db->insert($table, $data);
	header("Location: https://lechtman.ahdev.org/");
	exit;
}
?>