{exp:channel:entries
  channel="home"
}
{if no_results}
  {redirect="404"}
{/if}
{__header}


{!--
// ------------------------------------------
//  BANNER
// ------------------------------------------
--}


{if home_banner_text_color:value == 'white'}
  <section class="banner banner--white" style="background-image: url({home_banner_image});">
  {if:else}
  <section class="banner" style="background-image: url({home_banner_image});">
  {/if}
    <div class="container">
      <div class="banner__inner">
        <div class="banner__content">
          <h1>{home_banner_headline}</h1>
          <p>{home_banner_subheadline}</p>
          {home_banner_buttons}
            {if home_banner_buttons:button_url_optional != ''}
              {if home_banner_buttons:button_url_optional *= 'http'}
                <a href="{home_banner_buttons:button_url_optional}" target="_blank" class="button">{home_banner_buttons:button_label}</a>
              {if:else}
                <a href="{home_banner_buttons:button_url_optional}" class="button">{home_banner_buttons:button_label}</a>
              {/if}
            {if:elseif '{home_banner_buttons:button_label}' != ''}
            <a href="{home_banner_buttons:button_link}" class="button">{home_banner_buttons:button_label}</a>
            {/if}
          {/home_banner_buttons}
        </div>
      </div>
    </div>
  </section>


{home_page_modules}

{!--
// ------------------------------------------
//  CTA - ICONS
// ------------------------------------------
--}

  {home_page_modules:pages_cta_icons}
    {content}
    {if content:button_color == 'light_blue'}
    <section class="cta cta--buttons">
    {if:elseif content:button_color == 'dark_blue'}
    <section class="cta cta--buttons cta--dark-blue lightest-blue">
    {if:else}
    <section class="cta cta--buttons lightest-blue">
    {/if}
      <div class="container">
        <div class="cta__inner">
          <div class="cta__label">
            <h3>{content:headline}</h3>
          </div>
          <div class="cta__wrap">
            {exp:ah_utils:cta_icons entry_id="{entry_id}" market="{segment_1}"}

            <a class="cta-button cta-button--icon" href="{if segment_1 != ''}/{segment_1}{/if}{button1_url}">
              <div class="cta-button__icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 469.33 469.33"><path d="M0 64C0 28.65 28.65 0 64 0h16c11.78 0 21.33 9.55 21.33 21.33S91.78 42.66 80 42.66H64c-11.78 0-21.33 9.55-21.33 21.33v106.67c0 58.91 47.76 106.67 106.67 106.67s106.67-47.76 106.67-106.67V63.99c0-11.78-9.55-21.33-21.33-21.33h-16c-11.78 0-21.33-9.55-21.33-21.33S206.88 0 218.67 0h16c35.35 0 64 28.65 64 64v106.67c0 75.23-55.63 137.47-128 147.82V320c0 58.91 47.76 106.67 106.67 106.67S384.01 378.91 384.01 320v-46.31c-24.86-8.79-42.67-32.49-42.67-60.36 0-35.35 28.65-64 64-64s64 28.65 64 64c0 27.87-17.81 51.57-42.67 60.36V320c0 82.47-66.86 149.33-149.33 149.33S128.01 402.47 128.01 320v-1.51C55.63 308.14 0 245.9 0 170.67V64Zm405.33 170.67c11.78 0 21.33-9.55 21.33-21.33s-9.55-21.33-21.33-21.33S384 201.56 384 213.34s9.55 21.33 21.33 21.33Z" fill-rule="evenodd"/></svg>
              </div>
              <div class="cta-button__content">
                <span>{content:button_1:label}</span>
              </div>
            </a>
            <a class="cta-button cta-button--icon" href="{if segment_1 != ''}/{segment_1}{/if}{button2_url}">
              <div class="cta-button__icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 298.6 413.1"><path d="M149.3 0C66.7 0 0 66.7 0 149.3c0 28.8 9.2 56.3 22 78.9l97.3 168.4c6.1 11 18.4 16.5 30 16.5s23.3-5.5 30-16.5l97.3-168.3c12.9-22.6 22-49.6 22-78.9C298.6 66.8 231.9 0 149.3 0Zm0 193.4c-30 0-54.5-24.5-54.5-54.5s24.5-54.5 54.5-54.5 54.5 24.5 54.5 54.5-24.5 54.5-54.5 54.5Z"/></svg>
              </div>
              <div class="cta-button__content">
                <span>{content:button_2:label}</span>
              </div>
            </a>

            <a class="cta-button cta-button--icon" href="{if segment_1 != ''}/{segment_1}{/if}{button3_url}">
              <div class="cta-button__icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 329.93 303.11"><path d="M115.6 264.99c5.95 5.22 12.09 10.61 18.41 16.2l.13.11 21.02 18.15c2.82 2.43 6.31 3.65 9.81 3.65s6.99-1.22 9.81-3.65l21.01-18.15.13-.11c41.61-36.8 72.8-64.97 95.37-92.44 26.36-32.09 38.64-61.1 38.64-91.31C329.93 42.8 287.12 0 232.48 0c-24.56 0-48.83 9.25-67.51 25.28C146.28 9.25 122.01 0 97.45 0 42.81 0 0 42.81 0 97.45c0 66.06 45.99 106.43 115.6 167.54Zm-10.64-143.43h40v-40h40v40h40v40h-40v40h-40v-40h-40v-40Z"/></svg>
              </div>
              <div class="cta-button__content">
                <span>{content:button_3:label}</span>
              </div>
            </a>
            <a class="cta-button cta-button--icon" href="{button4_url}">
              <div class="cta-button__icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 0c-74.439 0-135 60.561-135 135s60.561 135 135 135 135-60.561 135-135S330.439 0 256 0zM423.966 358.195C387.006 320.667 338.009 300 286 300h-60c-52.008 0-101.006 20.667-137.966 58.195C51.255 395.539 31 444.833 31 497c0 8.284 6.716 15 15 15h420c8.284 0 15-6.716 15-15 0-52.167-20.255-101.461-57.034-138.805z"/></svg>
              </div>
              <div class="cta-button__content">
               <span>{content:button_4:label}</span>
              </div>
            </a>
          </div>
          {/exp:ah_utils:cta_icons}
        </div>
      </div>
    </section>
    {/content}
  {/home_page_modules:pages_cta_icons}


<?php
// ------------------------------------------
//  COPY + IMAGE/VIDEO
// ------------------------------------------
?>


  {home_page_modules:pages_copy_image}
    {content}
    <section class="copy-image {if '{content:display_type:value}' =='full'}copy-image--full{/if} {if '{content:image_position:value}' =='right'}copy-image--reverse{/if} {content:background_color:value}">
      <div class="container">
        <div class="copy-image__inner">
          <div class="copy-image__image">
            <img src="{content:image}" alt="Provider">
          </div>
          <div class="copy-image__content copy">
            {content:copy}
          </div>
        </div>
      </div>
    </section>
    {/content}
  {/home_page_modules:pages_copy_image}

  {home_page_modules:pages_copy_video}
    {content}
    <section class="copy-image {if '{content:video_position:value}' =='left'}copy-image--reverse{/if} {content:background_color:value}">
      <div class="container">
        <div class="copy-image__inner">
          <div class="copy-image__content copy">
            {content:copy}
          </div>
          <div class="copy-image__video">
            <div class="video__embed">
              <iframe src="{content:video_embed}" width="100%" height="100%" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>
    {/content}
  {/home_page_modules:pages_copy_video}


<?php
// ------------------------------------------
//  COPY
// ------------------------------------------
?>


  {home_page_modules:global_copy}
    <section class="copy">
      <div class="container">
        <div class="copy__inner">
          {content}
        </div>
      </div>
    </section>
  {/home_page_modules:global_copy}


<?php
// ------------------------------------------
//  ACCORDION
// ------------------------------------------
?>


  {home_page_modules:pages_accordion}
    <section class="accordion">
      <div class="container">
        <div class="accordion__inner js-accordion">
          {content}
          <div class="accordion__block">
            <div class="accordion__title js-open">
              <h4>{content:title}</h4>
            </div>
            <div class="accordion__content copy">
              {content:copy}
            </div>
          </div>
          {/content}
        </div>
      </div>
    </section>
  {/home_page_modules:pages_accordion}


{!--
// ------------------------------------------
//  CTA
// ------------------------------------------
--}


  {home_page_modules:pages_cta}
    {content}
    <section class="cta cta--center lightest-blue">
      <div class="container">
        <div class="cta__inner">
          <div class="cta__content copy">
            <h2>{content:headline}</h2>
            <p>{content:copy}</p>
            {if content:button_url_optional != ''}
            <?php
            $button_url = '{home_banner_buttons:button_url_optional}';
            if (str_contains($button_url, 'http')) {
              ?>
              <a href="{content:button_url_optional}" target="_blank" class="button">{content:button_label}</a>{home_banner_buttons:button_label}</a>
              <?php
            }
            else {
              ?>
             <a href="{content:button_url_optional}" class="button">{content:button_label}</a>{home_banner_buttons:button_label}</a>
              <?php
            }
            ?>

            {if:elseif '{content:button_label}' != ''}
            <a href="{content:button_link}" class="button">{content:button_label}</a>
            {/if}
          </div>
        </div>
      </div>
    </section>
    {/content}
  {/home_page_modules:pages_cta}


<?php
// ------------------------------------------
//  FORM
// ------------------------------------------
?>


  {home_page_modules:pages_form}
    {content}
    <section class="form {if '{content:display_type:value}' =='container'}form--container{/if} {content:background_color:value}">
      <div class="container">
        <div class="form__inner">
          <div class="form__content copy">
           {content:copy}
          </div>
           {!--
            // ------------------------------------------
            //  FORM
           --}
          <div class="form__block">
                  <script src="https://www.google.com/recaptcha/api.js"></script>
                  <script>
                     function onSubmit(token) {
                        var applicationForm = document.getElementById("form_sf");
                        if (applicationForm.checkValidity()) {
                          document.getElementById("form_sf").submit();
                          let element = document.querySelector('.ah-submit');
                          element.classList.add('ah-submit--loading');
                          var submitButton = document.getElementById("submit_form");
                          submitButton.disabled = true;
                        }
                        else {
                          applicationForm.reportValidity();
                        }
                     }
                 </script>
            {exp:ah_utils:salesforce_form class="ah-form" id="form_sf"}
              {content:form_html}
            {/exp:ah_utils:salesforce_form}
              </div>
      </div>
        </div>
      </div>
    </section>
    {/content}
  {/home_page_modules:pages_form}


<?php
// ------------------------------------------
//  SLIDER
// ------------------------------------------
?>


  {home_page_modules:pages_slider}
    {fields}
      {home_page_modules:slider_header_headline}
        <?php
        $headline = '{content}';
        ?>
      {/home_page_modules:slider_header_headline}
      {home_page_modules:slider_header_copy}
        <?php
        $copy = '{content}';
        ?>
      {/home_page_modules:slider_header_copy}
    {/fields}
  {/home_page_modules:pages_slider}
  {home_page_modules:pages_slider}
    {fields}
      {home_page_modules:slider_slides}
        <section class="slider">
          <div class="container">
            <div class="slider__header copy">
              <h2><?=$headline?></h2>
              <?=$copy?>
            </div>
          </div>
          <div class="slick">
            {content}
            <div class="slide">
              <div class="slide__inner">
                <div class="slide__graphic">
                  <img src="{content:image}" alt="Slide">
                </div>
                <div class="slide__content copy">
                  <h3>{content:headline}</h3>
                  <p>{content:copy}</p>
                  {if content:button_url_optional != ''}
                  <?php
                  $button_url = '{content:button_url_optional}';
                  if (str_contains($button_url, 'http')) {
                    ?>
                    <a href="{content:button_url_optional}" target="_blank" class="button">{content:button_label}</a>
                    <?php
                  }
                  else {
                    ?>
                   <a href="{content:button_url_optional}" class="button">{content:button_label}</a>
                    <?php
                  }
                  ?>

                  {if:elseif '{content:button_label}' != ''}
                  <a href="{content:button_link}" class="button">{content:button_label}</a>
                  {/if}
                </div>
              </div>
            </div>
            {/content}
          </div>
          <div class="slick-dots-wrap"></div>
        </section>
      {/home_page_modules:slider_slides}
    {/fields}
  {/home_page_modules:pages_slider}


{/home_page_modules}


{_footer}
{/exp:channel:entries}